.head
{
height:300px;
width:1000px;
background-color:#1B1F3B;
margin-left:auto;
margin-right:auto;
}
.h1
{
height:250px;
width:1000px;
}
.logo
{
float:left;
}
.name
{
height:250px;
width:750px;
}
.a
{
position:relative;
top:85px;
left:220px;
color:#D4AF37;
font-size:35px;
}
.menu
{
height:50px;
width:1000px;
float:right;
background-color:#D4AF37;
}
.menu ul li
{
display:inline;
padding:50px;
}
.menu ul a 
{
text-decoration:none;
}
.footer
{
height:100px;
width:1000px;
background-color:#1B1F3B;
margin-left:auto;
margin-right:auto;
}
.copy
{
color:#D4AF37;
font-size:24px;
text-align:center;
}
.home
{
height:600px;
width:1000px;
background-color:#FAF4EF;
margin-left:auto;
margin-right:auto;
margin-top:auto;
padding-top:auto;
}
.img
{
float:right;
}
.content
{
height:600px;
width:500px;
color:#2E2E2E;
font-size:24px;
text-align:inherit;
float:left;
}
.about
{
height:600px;
width:1000px;
background-color:#FAF4EF;
margin-left:auto;
margin-right:auto;
background-image:(file:///C|/wamp/www/assignment/image/img 9.jpg);
background-repeat:no-repeat;
background-size:cover;
background-position:center;
}
.img 1
{
float:left;
}
.img 2
{
float:left;
}
.img 3
{
float:right;
}
.img 4
{
float:left;
}
.img 5
{
float:left;
}
.img 6
{
float:right;
}
.service
{
height:600px;
width:1000px;
background-color:#FAF4EF;
margin-left:auto;
margin-right:auto;
text-align:center;
color:#2E2E2E;
font-size:24px;
}
.contact
{
height:600px;
width:1000px;
background-color:#FAF4EF8;
margin-left:auto;
margin-right:auto;
}
.map
{
float:left;
}
.details
{
height:300px;
width:1000px;
background-color:#FAF4EF;
margin-left:auto;
margin-right:auto;
text-align:center;
color:#2E2E2E;
font-size:24px;
float:left;
}
.register
{
height:600px;
width:1000px;
background-color:#FAF4EF;
margin-left:auto;
margin-right:auto;
text-align:center;
color:#2E2E2E;
font-size:24px;
}
/* CSS Document */

